{% extends 'base.html'%}

    {% block conteudo%}
        <div class="content">
            <h2>NPK Recommentation AI</h2>
            <p>
                MODEL MALUCO
                <br>
                The idea here is to create an application where agronomics forces, could
                simulate values of fertilization with NPK depending on the crop's type,
                land and environmental paramenters.
                <br>
                <br>
                Enjoy it.
            </p>
            <button class="start-btn">
                Get Started
            </button>
        </div>
    {% endblock%}
